<%= render "shared/container" do %>
  <h1>Trip to <%= @trip.name %></h1>
  <p>Attendees:</p>
  <ul>
    <% @trip_participants.each do |tp| %>
      <li>
        <%= tp.user.name %>
        <% if tp.user == @trip.lead_user %>
          <span> (lead)</span>
        <% else%>
          <% if policy(tp).destroy? %>
            <%= link_to icon("fas", "trash"),
                trip_trip_participant_path(@trip, tp), method: :delete %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if policy(@trip).update? %>
    <h2>Add your friends</h2>
    <%= simple_form_for @trip do |f| %>
      <%= f.association :users,
          collection: User.order(:first_name).where.not(id: current_user.id),
          label: false,
          label_method: :name,
          input_html: { class: "select2", multiple: "multiple" }
      %>
      <%= f.submit %>
    <% end %>
  <% end %>

  <li><%= link_to "Add destinations to trip", trip_trip_participant_potential_destinations_path(@trip, @trip.trip_participants.find_by(user: current_user)) %></li>
  <li><%= link_to "Score Trip", trip_trip_participant_participant_scores_path(@trip, @trip.trip_participants.find_by(user: current_user)) %></li>
  <li><%= link_to "View Preferences", trip_trip_participant_potential_destinations_path(@trip, @trip.trip_participants.find_by(user: current_user)) %></li>

<% end %>
