<%= render "shared/container" do %>
  <h1>Trip to <%= @trip.name %></h1>
  
  <% if @trip.finalised? %>
    <p>Destination:</p>
    <%= @trip.city.name %>
    <hr>
    <p>Dates:</p>
    <%= @trip.start_date.strftime("%d %B %Y") %> to <%= @trip.end_date.strftime("%d %B %Y") %>
    <hr>
  <% end %>
  
  <p>Attendees:</p>
  <ul>
    <% @trip_participants.each do |trip_participant| %>
      <li>
        <%= trip_participant.user.name %>
        <% if trip_participant.user == @trip.lead_user %>
          <span> (lead)</span>
        <% else%>
          <% if policy(trip_participant).destroy? %>
            <%= link_to icon("fas", "trash"),
                trip_trip_participant_path(@trip, trip_participant), method: :delete %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if policy(@trip).update? %>
    <h2>Add your friends</h2>
    <%= simple_form_for @trip do |f| %>
      <%= f.association :users,
          collection: User.order(:first_name).where.not(id: current_user.id),
          label: false,
          label_method: :name,
          input_html: { class: "select2", multiple: "multiple" }
      %>
      
      <% if @trip.scoring_complete? %>
        <h2>Complete the Trip</h2>
        <%= f.input :city_id,
            as: :select,
            input_html: { class: "select2" },
            collection: @participant_scores.map(&:city) %> <!-- TODO remove duplicates from this list of cities, and also feed in scores -->
        <div class="form-row">
          <%= f.input :start_date,
              wrapper_html: { class: "form-group col-md-6" },
              input_html: { value: @possible_dates.min, min: @possible_dates.min, max: @possible_dates.max },
              as: :date,
              html5: true %>
          <%= f.input :end_date,
              wrapper_html: { class: "form-group col-md-6" },
              input_html: { value: @possible_dates.max, min: @possible_dates.min, max: @possible_dates.max },
              as: :date,
              html5: true %>
        </div>
      <% end %>
      
      <%= f.submit %>
    <% end %>
  <% end %>

  <% if !@trip.finalised? %>
    <li><%= link_to "Add destinations to trip", trip_trip_participant_potential_destinations_path(@trip, @trip.trip_participants.find_by(user: current_user)) %></li>
    <li><%= link_to "Score Trip", trip_trip_participant_participant_scores_path(@trip, @trip.trip_participants.find_by(user: current_user)) %></li>
  <% end %>
<% end %>
