<%= render "shared/container" do %>
<h1><%= @trip.name %></h1>
<h1>Find your ideal destination</h1>


<div class="mb-4">
    <%= link_to "Come back later", trip_path(@trip), class: 'btn btn-lg btn-secondary purple' %>
  </button>

    <%= link_to "Submit the loved ones!",  trip_trip_participant_potential_destination_path(@trip, @trip_participant, 0, submit: "Submit"), method: :patch, class: 'btn btn-lg btn-primary' %>
  </button>
    <%= link_to "Go & rank",  trip_trip_participant_participant_scores_path(@trip, @trip_participant), class: 'btn btn-lg btn-primary' %>
  </button>
</div>

<div>
  <%= form_tag trip_trip_participant_potential_destinations_path, method: :get do %>
    <%= text_field_tag :budget,
      params[:budget],
      class: "form-control",
      placeholder: "Your maximum budget"
    %>
    <%= number_field_tag :time,
      params[:time],
      class: "form-control",
      placeholder: "Maximum flying time"
    %>
    <%= date_field_tag :out_date,
      params[:out_date],
      class: "form-control",
      placeholder: "Outbound date"
    %>
    <%= date_field_tag :in_date,
      params[:in_date],
      class: "form-control",
      placeholder: "Inbound date"
    %>
    <%= text_field_tag :search_city,
      params[:search_city],
      class: "form-control",
      placeholder: "City search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div>Fly from: <%= @trip_participant.user.city.name %></div>

<div data-controller="love" data-love-curl="/trips/:trip_id/trip_participants/:trip_participant_id/potential_destinations" data-love-durl="/trips/:trip_id/trip_participants/:trip_participant_id/potential_destinations/:id">
  <div class="container">
    <div class="row">
      <% @cards.each do |c| %>
        <div class="col-4">
          <div class="card-destination card card-body score mb-4" data-trip-estimate=c[:te].id >
            <div>
              <% if c[:te].destination_city.photo.attached? %>
                <img><%= cl_image_tag c[:te].destination_city.photo.key,height: 150, width: 200, crop: :fill %></img><br/>
              <% end  %>
              <div class="card-destination-infos">
                  <ul>
                    <li><h2><%= c[:te].destination_city.name %><h2></li>
                    <li><i class="fas fa-coins"></i>  From £<%= c[:te].low_cost %> to £<%= c[:te].high_cost %></li>
                    <li><i class="fas fa-plane"></i>  <%= c[:te].flight_mins %>mins</li>
                    <li><i class="fas fa-heart"></i>  <%= c[:already] %> <%= 'friend'.pluralize(c[:already]) %> </li>
                    <li><i class="fas fa-info-circle"></i> <%= link_to "Information" , city_path(c[:te].destination_city)  %></li>
                  </ul>
                <div>
                  <button data-action="love#updateLove" type="button" class="<%= c[:pd] ? (c[:pd].status == 'submitted' ? 'love-on love-hidden' : 'love-on') : 'love-off'  %>" data-love-target="love" id="<%= c[:te].id %>" data-id="<%= c[:te].id %>" data-tid="<%= @trip.id %>" data-pdid="<%= c[:pd].id if c[:pd] %>" data-tpid="<%= @trip_participant.id %>">
                    <i class="fas fa-heart ml-1 "></i>
                  </button>
                  <div class = "submitted">
                    <% if c[:pd] %>
                      <% if c[:pd].status == 'submitted' %><i class="fas fa-clipboard-check"></i><% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>


<!-- OLD CODE


<div data-controller="love" data-sort-url="/trips/:trip_id/trip_participants/:trip_participant_id/potential_destinations/:id">
<div class="card-destination">
    <% @cards.each do |c| %>
      <div class="card card-body score mb-4" data-trip-estimate=c[:te].id >
        <div>
          <% if c[:te].destination_city.photo.attached? %>
            <%= cl_image_tag c[:te].destination_city.photo.key,height: 150, width: 200, crop: :fill %><br/>
          <% end  %>
        </div>
        <div>
          <%= c[:te].destination_city.name %><br/>
          From £<%= c[:te].low_cost %> To £<%= c[:te].high_cost %><br/>
          <%= c[:te].flight_mins %>mins<br/>
          <%= link_to "City Details" , city_path(c[:te].destination_city)  %><br/>
          <br/>
          <% if c[:pd] %>
            <% if c[:pd].status == 'submitted' %>
              Submitted!
            <% else  %>
              <%= link_to "Unlove", trip_trip_participant_potential_destination_path(@trip, @trip_participant, c[:pd], est: c[:te]), method: :delete %>
            <% end %>
          <% else  %>
          <%= link_to "Love", trip_trip_participant_potential_destinations_path(@trip, @trip_participant, est: c[:te]), method: :post %><br/>
          <% end %>
        </div>
        <div>
          <button data-action="love#updateName" type="button" class="btn btn-primary" data-love-target="foo"><i class="fas fa-heart ml-1"></i></button>
        </div>
      </div>
    <% end  %>
  </div>
</div>

 -->
<!-- <div data-controller="love" data-sort-url="/trips/:trip_id/trip_participants/:trip_participant_id/potential_destinations/:id">
  <% @trip_estimates.each do |te| %>
    <div class="card card-body score mb-4" data-trip-estimate=te.id >
      <div>
        <% if te.destination_city.photo.attached? %>
          <%= cl_image_tag te.destination_city.photo.key, height: 150, width: 200, crop: :fill %><br/>
        <% end  %>
      </div>
      <div>
        <%= te.destination_city.name %><br/>
        From £<%= te.low_cost %> To £<%= te.high_cost %><br/>
        <%= (te.flight_mins) %>mins<br/>
        <%= link_to "City Details" , city_path(te.destination_city)  %><br/>
        <%= link_to "Add", trip_trip_participant_potential_destinations_path(@trip, @trip_participant, est: te), method: :post %><br/>
        <%= link_to "Delete", trip_trip_participant_potential_destination_path(@trip, @trip_participant, 0, est: te), method: :delete %>
      </div>
      <div>
        <button data-action="love#updateName" type="button" class="btn btn-primary" data-love-target="foo"><i class="fas fa-heart ml-1"></i></button>
      </div>
    </div>
  <% end  %>
</div> -->

<% end %>


