<%= render "shared/container" do %>
  <h1>Rank your preferences for <%= @trip.name %></h1>
  <p>Just drag and drop the options in preference order.</p>

  <div class="mb-4">
  <button type="button" class="btn btn-outline-primary">
    <%= link_to "Return to trip", trip_path(@trip) %>
  </button>
  <% if !@trip_participant.scoring_complete %>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Add destinations", trip_trip_participant_potential_destinations_path(@trip, @trip_participant) %>
    </button>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "Submit!", trip_trip_participant_participant_score_path(@trip, @trip_participant, 0, sub_action: 'submit' ), method: :patch %>
    </button>
  <% end %>

  </div>
    <div>
      <% if @trip_participant.scoring_complete %>
      <p>** You've submitted your raking already. **</p>
      <% end %>
    </div>
    <div data-controller="sort" data-sort-url="/trips/:trip_id/trip_participants/:trip_participant_id/participant_scores/:id" id="sortable-list" data-status="<%= @trip_participant.scoring_complete ? 'disabled' : 'enabled' %>">
      <% @cards.each do |card| %>
        <div data-id="<%= card[:ps].id %>" data-tid="<%= card[:trip_id] %>" data-tpid="<%= card[:tp_id] %>" class="card card-body score mb-4">
          <div class="trip-details">

            <% if card[:ps].potential_destination.city.photo.attached? %>
              <div style="margin: 10px">
                <%= cl_image_tag card[:ps].potential_destination.city.photo.key, height: 150, width: 200, crop: :fill %>
              </div>
            <% end %>

            <div style="margin: 10px"><%= card[:ps].potential_destination.city.name %> suggested by <%= card[:ps].potential_destination.trip_participant.user.first_name %><br/>
              Time: <%= card[:te].flight_mins %> mins<br/>
              Cost: £<%=  sprintf("%.2f", ((card[:te].low_cost + card[:te].high_cost)/2).to_f)  %><br/>
            </div>
          </div>

          <div style="margin: 10px">
            <p> Compatibility with your travel buddies</p>
            <p id="stars">Budget: <%= stars(card[:budget]) %> </p>
            <p id="stars">Loved: <%= stars(card[:loved]) %> </p>
            <p id="stars">Calender: <%= stars(card[:calender]) %> </p>
            <p id="stars">Travel Time: <%= stars(card[:time]) %> </p>
          </div>
          <div>
            <button data-action="sort#updateVeto" type="button" id="veto-button" class=" <%= card[:ps].veto ? 'veto-on' : 'veto-off' %>" data-sort-target="ban" data-id="<%= card[:ps].id %>" data-tid="<%= card[:trip_id] %>" data-tpid="<%= card[:tp_id] %>" >
              <i class="fas fa-ban ml-1" ></i>
            </button>

          </div>
        </div>
      <% end %>
    </div>

<% end %>
