<%= render "shared/container" do %>
  <h1>Rank It!</h1>
  <ul>
    <% @participant_scores.each do |ps| %>
      <li>(Position: <%= ps.position %>) (Score: <%= ps.score %>) <%= ps.potential_destination.city.name %> suggested by <%= ps.potential_destination.trip_participant.user.first_name %></li>
    <% end %>
  </ul>
<% end %>
